header#main-header.header
    .pure-menu.pure-menu-open.pure-menu-fixed.pure-menu-horizontal
        a(href=loginHref).title.pure-menu-heading
            i.icon-user
            | #{loginText}
        ul
          li(class = crumb === "home" ? "pure-menu-selected" : "")
            a(href='/') Home
          li(class = crumb === "meme" ? "pure-menu-selected" : "")
            a(href='/meme') Meme Generator
          li(class = crumb === "images" ? "pure-menu-selected" : "")
            a(href='#') Images
          li(class = crumb === "about" ? "pure-menu-selected" : "")
            a(href='#') About