.social_buttons
    .inset
        a.fb.login_button(href='/auth/facebook')
          .logo_wrapper
            span.logo
          span #{authAction} with Facebook
      .inset
        a.tw.login_button(href='/auth/twitter')
          .logo_wrapper
            span.logo
          span #{authAction} with Twitter