extends layout

block content
  .body
    if !user
      // login methods
      hr
      .login
        h2.login-header Login
        include includes/login-form
      hr
    else
      // user is already logged in
      hr
      a(href="/logout") Logout
      hr