doctype 5
html(lang="en")
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title= title
    link(rel='stylesheet', media='all', href='/stylesheets/style.css')
  body

    .page.gs960
        // common header
        include includes/header

        block content

        // common footer
        include includes/footer

    // script block
    script(data-main='/js/app/main', src='//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.4/require.min.js')
    block scripts