doctype 5
html(lang="en")
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title= title
    link(rel='stylesheet', media='all', href='//yui.yahooapis.com/pure/0.2.1/pure-min.css')
    link(rel='stylesheet', media='all', href='/stylesheets/css/home.css')
    link(rel='stylesheet', media='all', href='/stylesheets/css/meme.css')
  body

    .page
        // common header
        include includes/header

        .body.pure-g-r
            block content

        // common footer
        include includes/footer

    // script block
    script(data-main='/js/app/main', src='//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.8/require.min.js')
    block scripts