/* HTML5 Boilerplate normalize css */
@import url("normalize/normalize.css");

/* twitter custom bootstrap lib */
@import url("bootstrap.css");

/* media module structure image on the left content on the right */
@import url("oocsslib/core/media/media.css");

/* grid framework */
@import url("oocsslib/core/grid/grids.css");

/* base page template sets page width, column width and fixes some IE bugs */
@import url("oocsslib/core/template/template.css");

/* helper styles */
@import url("helpers.css");

/* page header styles */
@import url("page/header.css");

/* page login styles */
@import url("page/login.css");

/* page icons (halflings) */
@import url("page/icons.css");

/* load font */
@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../../fonts/bebasneue/BebasNeue-webfont.eot');
    src: url('../../fonts/bebasneue/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/bebasneue/BebasNeue-webfont.woff') format('woff'),
         url('../../fonts/bebasneue/BebasNeue-webfont.ttf') format('truetype'),
         url('../../fonts/bebasneue/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Layout */
img {max-width:100%;margin:0 auto;}

/* Theme */
html {background-color:#bec3bb;font-family: "helvetica-neue", arial, sans-serif;}
h1, h2, h3, h4, a, a:visited, a:hover, a:active, a:focus {color:#586b63;}
a, a:visited, a:hover, a:active, a:focus{outline:none;text-decoration:none;}
.title {font-family:'BebasNeueRegular', Arial, sans-serif;}
a:hover {text-decoration:underline;}
.center-text {text-align:center;}
p, hr, ul, ol {margin-bottom:20px;}
hr {border:none;border-top:1px #b1b5af solid;border-bottom:1px #d1d4ce solid;}