extends ../layout

block main
  h1= title

block content
  .line
    .unit.size1of1
      if (typeof errors !== 'undefined')
        each error in errors
          p.alert.alert-error= error.type
            button(type="button", data-dismiss="alert", onclick="javascript: $(this).closest('.alert-error').remove()").close ×
  block auth
