extends ../layout

block main
  h1= title

block content
  .line
    .unit.size1of1
      if (typeof errors !== 'undefined')
        .error
          ul
            each error in errors
              li= error.type
    block auth
